<div class="header-component">
    <div class="container-3 w-container">
        <div class="text-block-8">LOGO</div>
    </div>
    <div class="header-container">
        <div class="header-text">About</div>
        <div class="header-text">Artists</div>
        <div class="header-text">Team</div>
        <div class="header-text">Roadmap</div>
        <div class="header-text">FAQ</div>
        <button class="button" href="https://www.opensea.io/" target="_blank">Buy on OpenSea</button>
    </div>
</div>