<div class="section-2 wf-section">
    <div class="container-4 w-container">
        <h2>WELCOME TO<br />THE ALPHA<br />DONGS CLUB</h2>
                <div class="text-block-6">An Exclusive Club of 9,999 Test Nfts, made by lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><a
            href="#" class="button">MORE INFO<br /></a>
    </div>
    <div class="container-2 w-container"><img
            src="../uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2.png"
            loading="eager"
            srcset="https://uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2-p-500.png 500w, https://uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2-p-800.png 800w, https://uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2-p-1080.png 1080w, https://uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2-p-1600.png 1600w, https://uploads-ssl.webflow.com/62053e64bb695e66d5d3b5a1/62058392c50879264690290c_nftbg2.png 2000w"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 108.65625px, 36vw" alt="" class="image" /></div>
</div>