@import url('http://fonts.cdnfonts.com/css/akira-expanded');
h2 {
    padding-left: 50px;
    margin-bottom: 90px;
    font-family: "Akira expanded", sans-serif;
    color: #000;
    font-size: 8vh;
    line-height: 1;
    font-weight: 400;
}